* text=auto eol=lf
/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.coveralls.yml export-ignore
/.scrutinizer.yml export-ignore
/.travis.yml export-ignore
/TASK.md export-ignore
/tests export-ignore
/examples export-ignore
/src export-ignore
/tmp export-ignore
/vendor export-ignore
/.cache export-ignore
/.phpunit.result.cache export-ignore
/composer.lock export-ignore
/phpunit.xml.dist export-ignore
/phpstan.neon export-ignore
/phpcs.xml.dist export-ignore
/phpdoc.xml export-ignore
/makefile export-ignore
/docs/STATUS-* export-ignore
/docs/.gitignore export-ignore
/.phpunit.cache export-ignore
/.env export-ignore
/.env.* export-ignore
/config.local.php export-ignore
/.idea export-ignore
/phpunit.xml export-ignore
/phpcs.xml export-ignore
/.DS_Store export-ignore
/*.zip export-ignore
/*.tar export-ignore
/*.tar.gz export-ignore
/*.log export-ignore
