<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Modern">
            <directory>tests/Modern</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>lib</directory>
        </include>
    </source>
</phpunit>
